body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont;
}

div.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.calculator-body {
    width: 375px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}

div.display{
    width: 375px;
    overflow: hidden;
    padding: 0px 16px 0px 16px;
}

h1 {
    margin: 0px;
    color: white;
    text-align: right;
    font-weight: 300;
    font-size: 80px;    
}

div.buttons {
    width: 100%;
}

div.button-row {
    width: 100%;
    padding: 5px 16px 5px 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.button-row.bottom {
    grid-template-columns: 2fr 1fr 1fr;
}

button {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border: none;
    font-size: 32px;
    font-weight: 400;
    justify-self: center;
    transition: 100ms;

}

button.gray {
    background-color: #A5A5A5;
}

button.gray:active {
    background-color: white;
}

button.orange {
    background-color: #FEA00A;
    color: white;
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    padding: 11px 0 16px 0;
}

button.orange:active {
    background-color: #FFC871;
}

button.number {
    background-color: #333;
    color: white;
}

button.number:active {
    background-color: #A5A5A5;
}

button.number.lrg {
    width: 165px;
    text-align: left;
    padding-left: 28px
}

button.inactive {
    background-color: #333;
    color: white;
}

button.inactive:active {
    background-color: #A5A5A5;
}